@font-face { font-family: "Gotham Rounded Bold"; src: url('../static/fonts/Gotham Rounded Bold.otf'); }

html {
    font-size: 20px;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gotham Rounded Bold", sans-serif;
}

/*
DB TESTING PORTAL
*/

.portalControls {
    display: inline-table;
}

.portalButton {
    text-align: center;
    padding-top: 10vh;
    display: inline-block;
}

/*
NAVBAR
*/
.navbar {
    padding: 0;
    border-bottom: .5vh solid #261132;
    border-top: .5vh solid #261132;
}

.navbar-brand {
    margin-left: 5vw;
    font-size: 24px;
}

a.navbar-brand {
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-form {
    margin-right: 5vw;
}

.full-page {
    padding: 0;
    height: 100%;
    min-height: 100%;
    overflow: auto;
    
}

.whole-page {
    padding: 0;
    min-height: 100%;
    overflow: auto;
}

.page-panel {
    margin: 5vw 5vh;
}

.card {
    margin-top: 5vh;
    margin-left: 25vw;
    margin-bottom: 5vh;
    width: fit-content;
    max-width: 80vw;
    background: white;
    border: .3vh solid rgba(154,160,168, .5);
}

.card-table {
    margin: 0;
    table-layout:fixed;
}
.table-label {
    opacity: .8;
}
.table-value {
    line-height: 1.5rem;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
}


.data-widget {
    margin: 5vw;
    position: relative;
    display:inline-flex;
    height: 35vh;
    width: 35vh;
}

.login-box {
    background: #FFAAFF;
    height: 50vh;
    width: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
}

.login-input {
    margin: 10px 0px;
    text-align: center;
}

.login-button {
    width: 100%;
}

