@font-face { font-family: "Gotham Rounded Bold"; src: url('../static/fonts/Gotham Rounded Bold.otf'); }

html {
    font-size: 20px;
}

html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Gotham Rounded Bold", sans-serif;
}

/*
DB TESTING PORTAL
*/

.portalControls {
    display: inline-table;
}

.portalButton {
    text-align: center;
    padding-top: 1.5rem;
    display: inline-block;
}

.blockListContainer {
    margin-top: 2rem;
    padding: 0rem;
}

/*Block.html*/

/*
NAVBAR
*/
.navbar {
    background: rgba(53,53,53, 1);
    padding: 0;
    border-bottom: .15rem solid rgba(154,160,168, .5);
}

.navbar-brand {
    margin-left: 10rem;
    font-size: 24px;
}

a.navbar-brand {
    color: white;
}

.full-page {
    padding: 0rem;
    height:100%;
    min-height: 100%;
    overflow: auto;
    
}

.home-page {
    padding: 0rem;
    min-height: 100%;
    background:
      linear-gradient(217deg, rgba(209,204,220,.8), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(142,177,199,.8), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(154,160,168,.8), rgba(0,0,255,0) 70.71%),
        linear-gradient(37deg, rgba(154,160,168,.8), rgba(0,0,255,0) 70.71%);
    overflow: auto;
}

.home-page-panel {
    margin: 0rem 10rem;;
}

.blockCard {
    margin-top: 2rem;
    margin-left: 10rem;
    margin-bottom: 2rem;
    min-height: 50px;
    width: fit-content;
    max-width: 50rem;
    background: white;
    border: .15rem solid rgba(154,160,168, .5);
}

.blockCardTable {
    margin: 0rem;
    table-layout:fixed;
}
.table-label {
    opacity: .8;
    
}
.table-value {
    line-height: 1.5rem;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
}

