<!DOCTYPE HTML>


<html>

<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </link>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- User CSS -->
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    </link>

</head>

<body>
    <div class="container-fluid full-page">
        <div class="whole-page">
            <div class="page-panel">

                <div class="login-box rounded">
                    <div class="login-form">
                        <form th:action="@{/login}" method="post">
                            <input class="login-input form-control" type="text" id="username" placeholder="user" name="username" />
                            <input class="login-input form-control" type="password" id="password" placeholder="password" name="password" />
                            <button class="btn btn-success login-button" type="submit">Login</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>

</html>
