html {
    font-size: 100%;
}

/*
DB TESTING PORTAL
*/
.portalControls {
    display: inline-table;
}
.portalButton {
    text-align: center;
    padding-top: 1.5rem;
    display: inline-block;
}

.portalConsole {
    padding-top: 5rem;
}